<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206788868286-q5biiv2v46nh8q40sun3he1b05pema0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206788868286-q5biiv2v46nh8q40sun3he1b05pema0f</string>
	<key>API_KEY</key>
	<string>AIzaSyCaEwUJx0VbtzVZa3zPopMdsha29VuMENY</string>
	<key>GCM_SENDER_ID</key>
	<string>206788868286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kotoha.project</string>
	<key>PROJECT_ID</key>
	<string>kotoha-2585e</string>
	<key>STORAGE_BUCKET</key>
	<string>kotoha-2585e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206788868286:ios:7581031db3b3142b83c6ef</string>
</dict>
</plist>